* {
  margin: 0px;
  padding: 0px;
}
.plus__button {
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.face {
  color: black;
  font-size: 30px;
  height: 40px;
  width: 40px;
  border-radius: 30px;
}
.happy__smile {
  background-color: yellow;
}
.sad__smile {
  background-color: red;
}
.hide__message {
  display: none
}